<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<menu>
  <category name="Animation">
    <movie>
      <name>Coco</name>
      <year>2017</year>
      <duration>1:45</duration>
    </movie>
    <movie>
      <name>Spider-Man: Into the Spider-verse</name>
      <year>2018</year>
      <duration>1:56</duration>
    </movie>
    <movie>
      <name>Minions: The Rise of Gru</name>
      <year>2022</year>
      <duration>1:30</duration>
    </movie>
  </category>
  <category name="Action">
     <movie>
      <name>Top Gun</name>
      <year>2022</year>
      <duration>2:11</duration>
    </movie>
    <movie>
      <name>The Batman</name>
      <year>2022</year>
      <duration>2:56</duration>
    </movie>
    <movie>
      <name>007- No time to die</name>
      <year>2021</year>
      <duration>2:43</duration>
    </movie>
  </category>
  <category name="Comedy">
    <movie>
      <name>Hangover</name>
      <year>2009</year>
      <duration>1:40</duration>
    </movie>
     <movie>
      <name>The Holiday</name>
      <year>2006</year>
      <duration>2:18</duration>
    </movie>
     <movie>
      <name>Night of the Museum</name>
      <year>2006</year>
      <duration>1:48</duration>
    </movie>
  </category>
  <category name="Drama">
    <movie>
      <name>Belfast</name>
      <year>2021</year>
      <duration>1:37</duration>
    </movie>
     <movie>
      <name>Black Swan</name>
      <year>2010</year>
      <duration>1:48</duration>
    </movie>
     <movie>
      <name>Dune</name>
      <year>2021</year>
      <duration>2:35</duration>
    </movie>
  </category>
  <category name="Horror">
    <movie>
      <name>Nope</name>
      <year>2022</year>
      <duration>2:10</duration>
    </movie>
     <movie>
      <name>Scream</name>
      <year>2022</year>
      <duration>1:54</duration>
    </movie>
     <movie>
      <name>Halloween Ends</name>
      <year>2022</year>
      <duration>1:51</duration>
    </movie>
  </category>
</menu>